.about {
  padding: 120px 0;

  @include vp-1199 {
    padding: 100px 0;
  }

  @include vp-767 {
    padding: 64px 0;
  }
}

.about__container {
  margin-bottom: 115px;

  display: grid;
  grid-template-columns: 475px auto;
  gap: 25px;

  position: relative;

  @include vp-1199 {
    margin-bottom: 83px;

    display: block;
  }

  @include vp-767 {
    margin-bottom: 6px;
  }
}

.about__content {
  padding: 39px 60px 30px;

  @include vp-1199 {
    padding: 0 60px 0;

    text-align: center;
  }

  @include vp-767 {
    padding: 0;

    text-align: start;
  }
}

.about__content h2 {
  margin: 0;
  margin-bottom: 7px;

  font-family: $ff-alumni;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  letter-spacing: 0.03em;

  @include vp-1199 {
    margin-bottom: 0;
    margin-right: 15px;

    font-size: 42px;
    line-height: 50px;
  }

  @include vp-767 {
    margin-right: 0;
    margin-bottom: 5px;

    font-size: 32px;
    line-height: 38px;
  }
}

.about__content span {
  margin-bottom: 40px;

  display: block;

  font-weight: 400;
  font-size: 18px;
  line-height: 150%;

  @include vp-1199 {
    margin-bottom: 33px;
  }

  @include vp-767 {
    margin-bottom: 24px;
  }
}

.about__content-story {
  @include vp-1199 {
    margin-bottom: 44px;
  }

  @include vp-767 {
    margin-bottom: 33px;
  }
}

.about__content-story p {
  margin: 0;

  font-weight: 300;
  font-size: 16px;
  line-height: 150%;

  &:not(:last-child) {
    margin-bottom: 5px;
  }

  &:last-child {
    @include vp-1199 {
      display: none;
    }
  }
}

.about__content-story br {
  display: none;

  @include vp-767 {
    display: block;
  }
}

.about__media-content {
  position: relative;
}

.about__image {
  max-height: 401px;

  display: flex;
  align-self: center;

  @include vp-1199 {
    max-height: 100%;

    display: block;

    aspect-ratio: 16.9 / 8.6;
  }

  @include vp-767 {
    margin-bottom: 40px;

    aspect-ratio: auto;
  }
}

.about__image img {
  max-height: 100%;

  object-fit: cover;
  object-position: bottom;

  @include vp-1199 {
    width: 100%;
    height: auto;

    object-position: initial;
  }

  @include vp-767 {
    margin: 0 auto;
    margin-left: -$secondary-indent;

    height: auto;
    min-height: 313px;
    max-height: 100%;
    width: 100vw;
    max-width: 100vw;

    object-position: right;
  }
}

.about__video {
  position: absolute;
  top: 289px;
  left: -63px;

  background-color: $color-base-8;

  &::after {
    width: 100%;
    height: 100%;

    position: absolute;
    content: "";
    top: 0;
    left: 0;
    background-color: $color-base-8-op50;
  }

  @include vp-1199 {
    left: calc(50% - 266px / 2);

    top: 76%;
  }

  @include vp-767 {
    margin: 0;
    margin-left: -$secondary-indent;
    padding-top: calc(185 / 320 * 100%);

    width: 100vw;
    height: 0;

    position: relative;
    top: 0;
    left: 0;
  }
}

.about__video img {
  height: auto;
  max-height: 227px;

  object-fit: cover;
  object-position: bottom;

  @include vp-1199 {
    width: 266px;
    max-height: 167px;
  }

  @include vp-767 {
    width: 100%;
    height: 100%;
    max-height: 100%;

    position: absolute;
    top: 0;
    left: 0;

    object-position: top;
  }
}

.about__play-button {
  position: absolute;
  top: calc(50% - 100px / 2);
  left: calc(50% - 100px / 2);

  z-index: 10;

  @include vp-1199 {
    width: 73px;
    height: 73px;

    top: calc(50% - 72px / 2);
    left: calc(50% - 73px / 2);
  }
}
