.btn {
  display: inline-flex;
  padding: 10px 20px;

  color: $color-base-1;

  background-color: $color-15;
  border: none;
  cursor: pointer;

  transition: opacity $trans-default;

  &--red {
    background-color: $color-19;
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @include hover-focus {
    opacity: 0.8;
  }
}
