.footer {
  padding: 42px 0 22px;

  color: $color-base-1;

  background-color: $color-base-7;

  @include vp-1199 {
    padding: 45px 0 30px;
  }

  @include vp-767 {
    padding: 46px 0;
  }
}

.footer__container {
  display: grid;
  grid-template-columns: auto auto;

  @include vp-1199 {
    padding: 0 39px;
  }

  @include vp-767 {
    padding: 0 $secondary-indent;

    display: block;
  }
}

.footer__container ul {
  padding: 0;
  margin: 0;

  list-style: none;
}

.footer__container a {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: $color-base-1;

  @include vp-767 {
    font-size: 16px;
    line-height: 19px;
  }

  @include hover-focus {
    text-shadow: $color-base-1 1px 0 5px;
    text-decoration: underline;
  }
}

.footer__logo {
  transform: translateY(4px);

  @include vp-1199 {
    width: 82px;
    height: 18px;

    transform: translate(6px, -2px);
  }

  @include vp-767 {
    width: 68px;
    height: 15px;

    transform: none;
  }
}

.footer__nav,
.footer__socials {
  align-self: flex-start;
}

.footer__nav ul {
  display: grid;
  grid-template-columns: 1fr repeat(5, max-content);
  gap: 2px 40px;

  @include vp-1199 {
    gap: 2px 30px;
  }

  @include vp-767 {
    margin-bottom: 17px;

    display: block;
    column-count: 2;
  }
}

.footer__nav li {
  &:first-child {
    margin-top: 4px;
    margin-right: auto;

    grid-row: 1/10;

    @include vp-767 {
      margin: 4px 0 21px;
    }
  }

  @include vp-767 {
    margin-bottom: 16px;
  }
}

.footer__socials {
  margin-left: 30px;

  max-width: 97px;
  justify-self: end;

  @include vp-1199 {
    margin-left: 15px;
  }

  @include vp-767 {
    margin-left: 0;
  }
}

.footer__socials ul {
  max-width: 97px;

  flex-wrap: wrap;
  gap: 11px;
  justify-content: flex-end;
}

.footer__socials ul,
.footer__socials li,
.footer__socials a {
  display: flex;
  align-items: center;
}

.footer__socials svg {
  fill: $color-base-1;

  @include hover-focus {
    fill: $color-base-3;
  }
}
