.hero {
  padding-top: $header-height-xl;
  margin-top: -$header-height-xl;

  background: $main-conic-gradient;

  @include vp-767 {
    padding-top: $header-height-s;
    margin-top: -$header-height-s;
  }
}

.hero__content {
  padding: 51px 20px;

  display: flex;
  gap: 63px;

  color: $color-base-1;

  @include vp-1199 {
    padding: 47px 0 62px;

    justify-content: center;
    gap: 28px;
  }

  @include vp-767 {
    padding: 60px 0 78px;

    gap: 0;
  }
}

.hero__info {
  max-width: 376px;
  width: 100%;

  display: grid;
  grid-template-columns: 115px auto;
  gap: 50px 15px;

  @include vp-1199 {
    max-width: 326px;

    gap: 36px 15px;
  }

  @include vp-767 {
    max-width: 100%;

    grid-template-columns: minmax(115px, 50%) auto;
    gap: 55px 15px;
  }
}

.hero__features-list ul {
  padding: 0;
  margin: 0;
  margin-top: 213px;

  width: max-content;

  list-style: none;

  @include vp-1199 {
    margin-top: 129px;
  }

  @include vp-767 {
    margin-top: 118px;

    overflow: hidden;
  }
}

.hero__features-list li {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-align: right;
}

.hero__description {
  position: relative;
}

.hero__description p {
  margin: 21px 0 12px;
  padding: 0 53px;

  font-family: $ff-alumni;
  font-weight: 600;
  font-size: 43px;
  line-height: 58px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: right;

  @include vp-1199 {
    padding: 0 8px;
    margin: 0;
    margin-bottom: 10px;

    font-size: 30px;
    line-height: 29px;
  }

  @include vp-767 {
    margin-bottom: 17px;
    padding: 0 6px;

    font-size: 23px;
    line-height: 1;
  }
}

.hero__description h1 {
  margin: 0;

  font-family: $ff-alumni;
  font-weight: 700;
  font-size: 92px;
  line-height: 110px;
  text-align: right;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  @include vp-1199 {
    font-size: 71px;
    line-height: 87px;
    letter-spacing: 0.05em;
    text-transform: lowercase;
  }

  @include vp-767 {
    margin-bottom: 24px;
    margin-left: auto;

    max-width: min-content;

    font-size: 70px;
    line-height: 86px;

    position: absolute;
    right: 0;

    overflow: hidden;
  }
}

.hero__link {
  padding: 23px;
  margin-left: auto;
  margin-bottom: 43px;

  width: 100%;
  max-width: 236px;

  display: block;
  grid-column: 1/-1;

  text-align: center;

  @include vp-1199 {
    max-width: 187px;
  }

  @include vp-767 {
    margin-bottom: 0;
    padding: 24px;

    max-width: 100%;
  }
}

.hero__image {
  max-width: 500px;
  width: 100%;

  position: relative;

  @include vp-1199 {
    max-width: 324px;
  }

  @include vp-767 {
    display: none;
  }
}

.hero__image img {
  width: 100%;
  height: auto;
  max-height: 556px;

  position: absolute;
  top: -92px;
  left: 0;

  object-fit: cover;

  @include vp-1199 {
    height: 390px;

    top: -57px;
  }
}
