.swiper1 {
  @include vp-1199 {
    max-width: 87%;
  }
}

.swiper2 {
  max-width: 49%;

  @include vp-1199 {
    max-width: 84%;
  }

  @include vp-767 {
    max-width: 100%;
  }
}

.swiper-wrapper {
  align-items: stretch;
}

.swiper .swiper-slide {
  display: flex;
  justify-content: center;
  height: auto;
}

.swiper ~ .swiper-button-prev,
.swiper ~ .swiper-button-next {
  top: 52%;
  color: $color-9;
  width: 16px;
  height: 32px;

  @include vp-767 {
    width: 10px;
    height: 19px;
    top: 55%;
  }

  &::after {
    font-size: 30px;

    @include vp-767 {
      font-size: 20px;
    }
  }
}

.swiper1 ~ .swiper-button-prev {
  left: -56px;

  @include vp-1199 {
    left: -16px;
  }

  @include vp-767 {
    left: 0;
  }
}

.swiper1 ~ .swiper-button-next {
  right: -56px;

  @include vp-1199 {
    right: -16px;
  }

  @include vp-767 {
    right: 0;
  }
}

.swiper2 ~ .swiper-button-next {
  right: 245px;

  @include vp-1199 {
    right: 0;
  }
}

.swiper2 ~ .swiper-button-prev {
  left: 245px;

  @include vp-1199 {
    left: 0;
  }
}

.swiper ~ .swiper-button-disabled {
  opacity: 0;
}
