.tabs {
  max-width: 100%;
}

.tabs__controls {
  margin: 0 auto;
  margin-bottom: 38px;

  width: 100%;
  max-width: 341px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 46px;

  box-shadow: 0 -2px 0 0 rgba($color-10, 0.2) inset;

  @include vp-1199 {
    margin-bottom: 44px;

    max-width: 332px;

    gap: 54px;
  }

  @include vp-767 {
    margin-bottom: 35px;

    max-width: 100%;

    gap: 46px;
  }
}

.tabs__control {
  padding: 13px 0;

  min-width: auto;

  color: $color-base-8-op50;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;

  background-color: transparent;
  border: none;
  cursor: pointer;

  &.is-active {
    color: $color-base-8;

    box-shadow: 0 -2px 0 0 $color-2 inset;
    pointer-events: none;
  }

  @include vp-1199 {
    font-size: 18px;
  }

  @include vp-767 {
    font-size: 16px;
  }

  @include hover-focus {
    text-shadow: $color-base-4 1px 0 10px;
  }
}

.tabs__content {
  transition: height 0.3s;

  position: relative;

  &::after {
    position: absolute;
    content: "";
    width: 321px;
    height: 384px;
    bottom: -218px;
    right: -212px;
    transform: rotate(330deg);
    background-image: url("../img/barbel-disks.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    @include retina {
      background-image: url("../img/barbel-disks@2x.png");
    }

    @include vp-1199 {
      width: 289px;
      height: 345px;
      bottom: -176px;
      right: -55px;
    }

    @include vp-767 {
      display: none;
    }
  }
}

.tabs__element {
  width: 100%;
}

.tabs--unset .tabs__content {
  height: 100px;
}

.tabs--unset .tabs__element {
  height: 100%;

  overflow-y: auto;
  overflow-x: hidden;
}
