.contacts {
  padding: 57px 0 64px;

  background-color: $color-base-1;

  @include vp-1199 {
    padding: 62px 45px 63px;
  }

  @include vp-767 {
    padding: 64px 15px 63px;
  }
}

.contacts__wrapper {
  @include vp-1199 {
    margin: 0 auto;

    max-width: 456px;
  }
}

.contacts h2 {
  margin: 0;
  margin-bottom: 37px;

  font-family: $ff-alumni;
  font-weight: 600;
  font-size: 54px;
  line-height: 65px;
  letter-spacing: 0.03em;

  @include vp-1199 {
    margin-bottom: 33px;

    font-size: 42px;
    line-height: 50px;
  }

  @include vp-767 {
    margin-bottom: 35px;

    font-size: 32px;
    line-height: 38px;
  }
}

.contacts__content {
  margin-left: 4px;

  display: grid;
  grid-template-columns: 170px 110px;
  gap: 120px;

  position: relative;

  &::after {
    width: 1px;
    height: 90%;

    position: absolute;
    content: "";
    top: 5%;
    left: 230px;
    background-color: $color-base-4;

    @include vp-1199 {
      width: 1px;
      height: 90%;

      position: absolute;
      content: "";
      top: 5%;
      left: 58%;
      background-color: $color-base-4;
    }

    @include vp-767 {
      display: none;
    }
  }

  @include vp-1199 {
    max-width: 100%;
    margin-left: 0;
    grid-template-columns: 218px 142px;
    justify-content: space-between;
    gap: 50px;
  }

  @include vp-767 {
    display: block;
  }
}

.contacts__column {
  &:not(:last-child) {
    @include vp-767 {
      margin-bottom: 20px;
    }
  }
}

.contacts__column div {
  &:not(:last-child) {
    margin-bottom: 18px;

    @include vp-1199 {
      margin-bottom: 19px;
    }
  }
}

.contacts__column h3 {
  margin: 0;
  margin-bottom: 3px;

  font-weight: 700;
  font-size: 16px;
  line-height: 150%;

  @include vp-1199 {
    margin-bottom: 5px;

    font-size: 20px;
  }
}

.contacts__column p {
  margin: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 21px;

  @include vp-1199 {
    font-size: 18px;
    line-height: 152.34%;
  }
}

.contacts__column a {
  display: flex;
  align-items: center;

  font-weight: 400;
  font-size: 14px;
  line-height: 21px;

  @include vp-1199 {
    display: flex;
    align-items: center;

    font-weight: 400;
    font-size: 18px;
    line-height: 152.34%;
  }
}
