.dark-button {
  padding: 26px;

  color: $color-base-8;
  text-transform: uppercase;

  border: none;
  cursor: pointer;
  background-color: transparent;
  box-shadow: 0 0 0 2px currentColor inset;

  @include hover-focus {
    color: $color-base-1;

    box-shadow: none;
    background: $linear-gradient-1;
  }
}
