.feature-card {
  display: flex;
  gap: 30px;
  max-width: fit-content;

  @include vp-767 {
    flex-direction: column;
    gap: 20px;
    align-items: center;
    text-align: center;
  }
}

.feature-card__number {
  max-width: 108px;

  background: $linear-gradient-4;
  background-clip: text;
}

.feature-card__number p {
  margin: 0;

  font-weight: 700;
  font-size: 71px;
  line-height: 1;

  color: transparent;

  @include vp-1199 {
    font-size: 58px;
  }
}

.feature-card__number span {
  font-size: 14px;
  line-height: 150%;
  color: $color-16;
}

.feature-card__description {
  max-width: 227px;
}

.feature-card__description p {
  margin: 0;

  font-weight: 700;
  font-size: 22px;
  line-height: 150%;

  @include vp-1199 {
    font-size: 20px;
  }
}

.feature-card__description span {
  font-weight: 300;
  font-size: 16px;
  line-height: 140%;
}
