.gradient-button {
  padding: 26px;

  color: $color-base-1;
  text-transform: uppercase;

  border: none;
  background: $linear-gradient-1;
  cursor: pointer;

  @include hover-focus {
    color: $color-base-8;

    background: none;
    background-color: transparent;
    box-shadow: 0 0 0 2px currentColor inset;
  }
}
