.light-button {
  padding: 21px;

  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  color: $color-base-1;
  text-transform: uppercase;

  box-shadow: 0 0 0 4px currentColor inset;
  border: none;
  background-color: transparent;
  cursor: pointer;

  @include hover-focus {
    box-shadow: 0 0 0 4px $color-base-3 inset;
  }
}
