.play-button {
  padding: 0;
  width: 100px;
  height: 100px;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;

  background-color: transparent;
  background-image: url("../img/svg/play-button-border.svg");
  background-size: cover;

  cursor: pointer;
  border: none;
  border-radius: 50%;

  &::after {
    position: absolute;
    content: "";
    width: 72%;
    height: 72%;

    top: 14%;
    left: 14%;
    background: $linear-gradient-1;
    border-radius: 50%;
  }

  @include hover-focus {
    &::after {
      background: $linear-gradient-4;
    }
  }
}

.play-button svg {
  margin-left: 4px;
  width: 15%;
  height: 15%;
  z-index: 10;
}
