.review-card {
  padding: 54px 62px 56px;

  width: fit-content;

  display: grid;
  grid-template-columns: 80px minmax(auto, 328px);
  grid-template-rows: min-content auto;
  gap: 13px 28px;

  color: $color-base-1;
  background-color: $color-base-6;

  @include vp-1199 {
    padding: 54px 65px 55px;
  }

  @include vp-767 {
    padding: 40px 25px 33px;

    max-width: 226px;

    grid-template-columns: 68px auto;
    gap: 15px 10px;
  }
}

.review-card__image {
  margin-top: 8px;

  width: 100%;
  height: auto;
  max-height: 80px;

  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;

  grid-row: 1/-1;

  @include vp-767 {
    margin-left: 16px;
    margin-top: 0;

    max-height: 68px;

    grid-row: 1/2;
  }
}

.review-card__image img {
  height: 100%;

  object-fit: cover;
}

.review-card h3 {
  margin: 0;

  font-weight: 700;
  font-size: 20px;
  line-height: 150%;

  @include vp-767 {
    margin-left: 21px;

    align-self: center;

    line-height: 130%;
  }
}

.review-card p {
  margin: 0;

  grid-column: 2/-1;

  font-weight: 400;
  font-size: 16px;
  line-height: 140%;

  @include vp-767 {
    grid-column: 1/-1;

    text-align: center;
  }
}
