.stock-card {
  padding: 7px;

  max-width: 560px;

  background: $linear-gradient-1;
}

.stock-card__content {
  padding: 25px 28px;

  height: 100%;

  display: flex;
  flex-direction: column;

  color: $color-base-6;

  background-color: $color-base-1;

  @include vp-767 {
    padding: 36px 40px;

    text-align: center;
  }
}

.stock-card__content p {
  margin: 0;
  margin-bottom: 11px;

  font-weight: 700;
  font-size: 26px;
}

.stock-card__content span {
  margin-bottom: 71px;

  display: block;

  font-weight: 400;
  font-size: 16px;
  line-height: 140%;

  & br {
    display: none;

    @include vp-1199 {
      display: block;
    }
  }

  @include vp-1199 {
    margin-bottom: 48px;
  }

  @include vp-767 {
    margin-bottom: 26px;
  }
}

.stock-card__content a {
  margin: auto 0 4px;

  width: fit-content;

  display: block;

  color: $color-base-6;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-family: $ff-roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;

  text-decoration: none;
  border-bottom: 1px solid currentColor;

  @include vp-767 {
    margin: 0 auto 4px;
  }

  @include hover-focus {
    color: $color-10;
  }
}
