.subscription-card {
  padding: 62px 77px;

  width: 100%;
  max-width: 360px;
  height: auto;

  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 45px;

  color: $color-base-8;

  background-color: $color-base-1;
  overflow: hidden;

  @include hover-focus {
    background: $linear-gradient-4;

    &::after {
      width: 95%;
      height: 97%;

      position: absolute;
      content: "";
      top: 1.5%;
      left: 2.5%;
      background-color: $color-base-1;
    }

    & .subscription-card__link {
      color: $color-base-1;

      box-shadow: none;
      background: $linear-gradient-1;
    }
  }

  @include vp-1199 {
    padding: 63px 76px 67px;
    max-width: 442px;

    gap: 47px;
  }

  @include vp-767 {
    padding: 51px 36px 49px;

    gap: 38px;
  }
}

.subscription-card__header {
  text-align: center;

  z-index: 5;
}

.subscription-card__header h3 {
  margin: 0;
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 26px;
  line-height: 29px;

  @include vp-767 {
    margin-bottom: 10px;

    font-size: 22px;
    line-height: 110.16%;
  }
}

.subscription-card__header p {
  margin: 0;

  font-size: 16px;
  line-height: 150%;
}

.subscription-card__price {
  padding: 37px 10px 0;

  display: flex;

  background-repeat: no-repeat;

  z-index: 5;

  position: relative;

  @include vp-1199 {
    padding: 35px 13px 0;
  }

  @include vp-767 {
    padding: 28px 5px 0;
  }
}

.subscription-card__price p {
  margin: 0;
  margin-right: 10px;

  font-weight: 700;
  font-size: 60px;
  line-height: 1;
  color: $color-base-5;

  z-index: 1;

  @include vp-767 {
    margin-left: 8px;
    margin-right: 7px;

    font-size: 48px;
  }
}

.subscription-card__price span {
  font-size: 60px;
  line-height: 1;
  font-weight: 600;

  z-index: 1;

  @include vp-767 {
    font-size: 51px;
  }
}

.subscription-card__link {
  padding: 28px;

  width: 100%;

  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;

  z-index: 5;

  @include vp-1199 {
    padding: 26px 0;

    max-width: 208px;
  }
}

.subscription-card__price small {
  position: absolute;
  display: block;
  max-width: 50%;
  top: 30px;
  left: -4%;

  font-weight: 700;
  font-size: 100px;
  color: $color-base-3;

  opacity: 0.48;

  @include vp-767 {
    top: 19px;
    left: -3%;

    font-size: 80px;
  }
}
