.trainer-card {
  width: 100%;
  max-width: 260px;

  position: relative;

  background-color: $color-base-8;

  color: $color-base-1;

  &:hover,
  &:active,
  &:focus-within {
    & .trainer-card__back {
      display: flex;
    }

    & .trainer-card__image {
      transform: scaleX(-1);
    }
  }

  @include vp-1199 {
    max-width: 268px;
  }

  @include vp-767 {
    max-width: 226px;
  }
}

.trainer-card__front {
  position: relative;
}

.trainer-card__front h3 {
  margin: 0;
  padding: 24px;

  width: 100%;

  position: absolute;
  bottom: 0;
  left: 0;

  text-align: center;
}

.trainer-card__front img {
  width: 100%;

  object-fit: cover;
}

.trainer-card__back {
  padding: 52px 40px;

  height: 100%;
  width: 100%;

  display: none;
  flex-direction: column;

  position: absolute;
  top: 0;
  left: 0;

  text-align: center;
  background-color: $color-base-8-op89;
  overflow: auto;

  @include vp-767 {
    padding: 42px 19px;
  }
}

.trainer-card__back p {
  margin: 0;

  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
}

.trainer-card__back span {
  margin-bottom: 36px;

  font-size: 16px;
  line-height: 1;
  color: $color-8;
}

.trainer-card__back ul {
  margin: 0 auto;
  margin-left: 31px;
  padding: 0;

  text-align: start;
}

.trainer-card__back li {
  font-size: 14px;
  line-height: 150%;

  &:not(:last-child) {
    margin-bottom: 13px;
  }
}
