// Colors
// ---------------------------------
// Default
$color-1: #ffffff;
$color-2: #f8f9fc;
$color-3: #f7f9fc;
$color-4: #e7e7e7;
$color-5: #b6bdcc;
$color-6: #afafaf;
$color-7: #787878;
$color-8: #74819c;
$color-9: #495a7d;
$color-10: #003c84;
$color-11: #00359e;
$color-12: #003db7;
$color-13: #103aae;
$color-14: #0041ca;
$color-15: #0039db;
$color-16: #2e35ac;
$color-17: #13367a;
$color-18: #1c3374;
$color-19: #102654;
$color-20: #0f2554;
$color-21: #2e2e2e;
$color-22: #030a1a;
$color-23: #ec0233;
$color-24: #ec0042;
$color-25: #d10a42;
$color-26: #b80026;


$color-default-black:               #000000;
$color-default-white:               #ffffff;
$color-transparent:                 rgba(255, 255, 255, 0);

// Project palette
// для нейминга цветов используем https://www.htmlcsscolor.com/hex/334482
// ---------------------------------

// Gradient
$main-conic-gradient: conic-gradient(from 130.31deg at 16.03% 39.06%, #b80027 -46.69deg, #003d85 32.24deg, #b80027 313.31deg, #003d85 392.24deg);

// Typography
// ---------------------------------

// переменная используемая в html для подключения скейлинга
$fz-default: 16px;

// у некоторых шрифтов в ios возникают проблемы с символом рубля
// https://www.artlebedev.ru/kovodstvo/sections/159/#13
$ff-alumni: "Alumni Sans", "Arial", sans-serif;
$ff-roboto: "Roboto Condensed", "Arial", sans-serif;

// Animation
// ---------------------------------
$tf-default: ease;
$trans-default: 0.3s $tf-default;

// если требуется изинг отличный от $tf-default, то переменную называем не цифрой
$trans-modal: 0.6s cubic-bezier(0.55, 0, 0.1, 1);
$trans-600: 0.6s $tf-default;

// Viewports
// ---------------------------------
$vp-320: 320px;
$vp-768: 768px;
$vp-1200: 1200px;

// Retina
// ---------------------------------
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
